.reduction{
    width: 100%;
}

.tittle{
    font-weight: bold;
    color: #3B5998;
    margin-bottom: 5px;
}

.reduction span{
    margin-right: 8px;
}

.reduction .content{
    margin-bottom: 20px;
}
